*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    display: flex;
    height: 100vh ;
}

header{
    background-color: #487979;
    padding: 3em;
    position: fixed;
    height: 100%;
    width: 10rem;
}

header ol{
    list-style-type: none;
    padding-top: 2.5em;
}

header li a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

header li a:hover{
    color:#06431b;
}

header li{
    font-size: 1.5em;
    padding-top: 1em;
}

header h1{
    font-size: 3em;
}

main{
    padding: 3em;
    width: 100%;
    margin-left: 17rem;
}

input[type="search"]{
    width: 20em;
}

.pesquisauser{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

select{
    color: rgba(77, 26, 205, 0.639);
    border: none;
    border-bottom: 1px solid rgba(77, 26, 205, 0.639);
}

.relatorios h2{
    margin-top: 0.7em;
    font-size: 40px;
}


div.mainboxcontainer{
    display: flex;
    max-width: 90%;
    flex-wrap: wrap;
    gap: 2em;
    margin-top: 4em;
}


.card{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 13rem;
    height: 15rem;
    border: 1px solid black;
}

.textocard{
    display: flex;
    justify-content: center;
    flex-basis: 40%;
    padding: 1em;
    background-color: rgb(236, 236, 236);
}

.card p{
    font-size: 20px;
    text-align: center;
}

.card a{
    color: rgba(77, 26, 205, 0.639);
}
.iconescard{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    padding: 1em;
    margin-top: 2.5em;
}